<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Stay</title>
  </head>
  <body>
    <form
      class="newStayForm"
      enctype="multipart/form-data"
      action="/stays"
      method="POST"
    >
      <input type="text" name="title" placeholder="title" required /><br />
      <input type="text" name="address" placeholder="address" required /><br />
      <input
        type="number"
        step="any"
        name="price"
        placeholder="price"
        maxlength="5"
        size="5"
        required
      />€/night<br />
      <label for="startDate">Availability:</label><br />
      <input type="date" id="startDate" name="startDate" required /><br />
      <input type="date" id="endDate" name="endDate" required /><br />
      <input
        type="text"
        id="description"
        name="description"
        placeholder="description"
        required
      /><br />
      <input
        type="file"
        name="imageFile"
        accept="image/png, image/jpeg"
        required
      /><br />
      <button type="submit">Save House</button>
    </form>
  </body>
</html>
