#logbtn {
  text-transform: capitalize;
}

.field {
  border: 1px solid rgb(189, 189, 189);
}

.field:hover {
  background-color: #eaedf0;
}

#userinfo,
#userbookings,
#delete-account {
  position: relative;
  margin-bottom: 20px;
  top: 50px;
  width: 50vw;
  left: 50%;
  transform: translate(-50%);
}

.modlink-box {
  text-align: right;
}

#delete-account-box {
  text-align: center;
}

td,
th {
  padding: 15px;
}

.identifier,
label {
  font-weight: bold;
}

#account_photo img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.identifier {
  margin-bottom: 10px;
}

#small-image img {
  width: 230px;
  height: 200px;
  overflow: hidden;
}

.small-carousel {
  width: 230px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
}

#offerbox {
  width: 240px;
  height: 210px;
}

.bookingstable {
  width: 100%;
}

#bookingtitle {
  font-weight: bold;
  border-right: none !important;
}

.bookingstable td {
  border: 1px solid rgb(189, 189, 189);
}

.bookingstable:hover {
  background-color: #eaedf0;
}

#unbooklink {
  text-align: right !important;
  border-left: none !important;
}
