.form-placement {
  position: relative;
  height: 60vh;
  background-color: antiquewhite;
}

.form-container {
  position: absolute;
  background-color: white;
  width: 35%;
  height: 90%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 2px #acabab;
  left: 55%;
  top: 10px;
}

h1 {
  position: absolute;
  top: 40%;
  left: 8%;
  font-weight: bold;
  font-size: 60px;
}

.bg-custom {
  background-color: antiquewhite;
}
