#toptable {
  width: 85%;
  border-collapse: separate;
}

.form-placement {
  background-color: antiquewhite;
  padding-bottom: 50px;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgb(141, 141, 141);
}

.slogan {
  padding-left: 60px;
  font-weight: bold;
  font-size: 60px;
}

h2,
h4 {
  font-weight: bold;
}

h4 {
  margin-top: 8px;
  text-align: left;
  transform: translate(45px, 0);
  width: 20em;
}

.bg-custom {
  background-color: antiquewhite;
}

.reg_image {
  margin: auto;
  border-radius: 15px;
}

#reg_details {
  position: relative;
  width: 100%;
  top: 2em;
}

#reg_title {
  margin-left: 45px;
  margin-bottom: 35px;
}

#second_row {
  position: relative;
  text-align: center;
}
